################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo_project/temp/Towson_Offer letter.pdf
/Demo_project/temp
