################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo_project/temp/Towson_Offer letter.pdf
/Demo_project/temp
/Demo_project/uploads/6aa48f33-3e98-45bc-8eff-3aab4757d809/Folder1
/Demo_project/uploads/bd9cdb39-598a-49ba-8b05-5141dd1fcf19/Folder1
